<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.detail">

    <application>
        <activity
            android:name=".business.presentation.BusinessDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".event.presentation.EventDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
    </application>

</manifest>